.calculator{
  display: inline-block;
  background-color: black;
}

.button{
  height: 10vh;
  width: 15vh;
  color: black;
  font-size: 30px;
}

.display{
  width: 98.3%;
  height: 75px;
  background-color: rgb(17, 6, 6);
  text-align: right;
  font-size: 40px;
  color: aliceblue;
}